{% extends "base.twig" %}

{% block main %}

<main>
    <h1>Bienvenue</h1>

    <p>
        Vous trouverez ici un site qui a été le sujet d'un projet lors de mon BUT.
    </p>
    <p>Objectif :</p>
    <ul>
        <li>Modéliser des données (gestion d'une ou plusieurs tables et relations complexes entre celles-ci)</li>
        <li>Récupération des données (requêtes SELECT avec des jointures, regroupements et/ou agrégats)</li>
        <li>Affichage des données (affichage des données sous différents formats (liste, vignette, détail), méthode GET,
            filtrage ou sélection à partir de formulaires générés par des requêtes)</li>
        <li>Modification des données (ajout, modification et suppression des commentaires)</li>
    </ul>

</main>

{% endblock %}